.main-layout {
  display: grid;
  grid-template-columns: 240px minmax(0, 1fr);
  height: 100vh;

  &__sidebar {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
  }
}
